<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-04-12T14:11:04Z</date>
	<key>WorkspacePath</key>
	<string>/Users/somkidchaihanid/Desktop/ea-24/ea-ios/EA24.xcodeproj</string>
</dict>
</plist>
